.date{
    color: gray;
}
.category-text{
    font-size: 2rem;
    display: block;
    color: black;
    text-decoration: none;
}
.parallax-container{
    height: 52vw;
}
.btn-detail{
    color: white;
    width: 8rem;
    background: #ee6e73 !important;
    height: 3rem !important;
    display: inline-block !important;
}
.btn-detail:hover{
    color: white;
}
.btn-container{
    display: inline-block;
}
.search-field{
    width: 20rem !important;
    background: rgba(0,0,0,0.1) !important;
    border: none;
    height: 3rem !important;
    border-radius: 3px !important;
    margin: 0 !important;
    margin-right: 2rem !important;
}
.search-form{
    display: inline-block;
    margin-top: 4rem;
}
.search-result{
    margin: 1rem !important;
}