.date{
    color: gray;
}
.category-text{
    font-size: 2rem;
    display: block;
    color: black;
    text-decoration: none;
}
.parallax-container{
    height: 52vw !important;
}




  /* SP
------------------------------------------------------------------*/
@media screen and (max-width:480px){
    
    .parallax-container{
        height: 200px;
    }
    
}