// 共通
body{
    margin: 0 20%;
    text-align: center;
}
// header
.head-title{
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0;
}
//グローバルナビゲーション
.g-nav li{
    display: block;
    list-style-type: none;
    position:  relative;
    width: 5rem;
}
.g-nav li a{
    cursor: pointer;
    position: relative;
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 3px;
}
.g-nav li a:hover{
    text-decoration: none;
    color: white;
}
.g-nav li a::before{
    content:'';
    background-image: url(/images/nav_icons.png);
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    width:  50px;
    height:  100%;
    position:  absolute;
    top: 0;
    left:  0;
    right:  0;
    transition: all 0.3s ease;
    opacity: 0;
    margin:0 auto;
}
.g-nav li a:hover::before{
    top: -22px;
    opacity:  1;
    cursor: pointer;
}
.g-nav li:hover{
     cursor: pointer;
}
.nav-pc{
    display: flex;
    justify-content: space-around;
}
.nav-mobile{
    display: none;
}
//検索入力フィールド
.search-field{
    width: 20rem !important;
    background: rgba(0,0,0,0.1) !important;
    border: none !important;
    height: 3rem !important;
    border-radius: 3px !important;
    margin: 0 !important;
    margin-right: 2rem !important;
    padding: 0 1rem !important;
}
.search-form{
    display: inline-block;
    margin-top: 4rem;
}
.search-result{
    margin: 1rem !important;
}
// 検索ボタン
.btn-detail{
    color: white;
    width: 8rem;
    background: #ee6e73 !important;
    height: 3rem !important;
    display: inline-block !important;
}
.btn-detail:hover{
    color: white;
}
//リセット
.btn-container{
    display: inline-block;
    margin: 1rem;
}

  /* SP
------------------------------------------------------------------*/
@media screen and (max-width:480px){
    .nav-pc{
        display: none;
    }
    .nav-mobile{
        display: block;
    }
    .nav-hamburger{
        float: right !important;
    }
    .nav-hamburger:hover{
        color: white !important;
    }
    .nav-mobile ul li{
        margin: 1rem 3rem 0;
        border-bottom: dotted 4px #ee6e73;
        transition: 1s;
    }
    .nav-mobile ul li:hover{
        margin: 1rem 3rem 0;
    }
    .nav-mobile ul a:hover{
        text-decoration: none !important;
    }
    .search-form{
        margin-top: 1rem;
    }
    .search-field{
        width: 64vw !important;
        margin: 1rem auto !important;
    }
}