// 共通
body{
    margin: 0 20%;
    text-align: center;
}
// header
.head-title{
    font-size: 4rem;
    font-weight: bold;
    margin: 2rem 0;
}
//グローバルナビゲーション
.g-nav{
    display: flex;
    justify-content: space-around;
}
.g-nav li{
    display: block;
    list-style-type: none;
    position:  relative;
}
.g-nav li a{
    cursor: pointer;
    color: white;
    text-decoration: none;
    display: block;
    padding-top: 3px;
}
.g-nav li a:hover{
    text-decoration: none;
    color: white;
}
.g-nav li a::before{
    content: '';
    display: block;
    width:  8px;
    height:  8px;
    background:  white;
    border-radius: 50%;
    position:  absolute;
    top: 24px;
    left:  0;
    right:  0;
    transition: all 0.3s ease;
    opacity: 0;
    margin:0 auto;
}
.g-nav li a:hover::before{
    top: 12px;
    opacity:  1;
    cursor: pointer;
}
.g-nav li:hover{
     cursor: pointer;
}

